<!-- <mat-card class="w-6/12 mx-auto flex items-center justify-center">
  <mat-card-content>Simple card</mat-card-content>
</mat-card> -->

<!-- min-h-screen: to give height to container -->
<div class="flex min-h-screen justify-center items-center bg">
  <mat-card>
    <mat-card-content>
      <div class="flex flex-col md:flex-row gap-8 ">
        <div
          class="text-center md:border-r-4 border-gray-600 border-opacity-10 p-8"
        >
          <img
            src="assets/images/icons/icon1.png"
            alt="Personal Plan Icon Personal"
          />
          <h2 class="text-gray-400 pricing-header">Personal</h2>
          <ul>
            <li class="text-xl">Custom Domains</li>
            <li class="mb-16">Sleeps 30 mins of inactivity</li>
          </ul>
          <h3 class="pricing-price text-[#016ff9]">Free</h3>
          <button mat-raised-button class="btn" color="primary">Sign Up</button>
        </div>
        <div
          class="text-center md:border-r-4 border-gray-600 border-opacity-10 p-8"
        >
          <img
            src="assets/images/icons/icon2.png"
            alt="Personal Plan Icon Small Team"
          />
          <h2 class="text-gray-400 pricing-header">Small Team</h2>
          <ul>
            <li>Never Sleeps</li>
            <li>
              Multiple workers for more
              <span class="block mt-4">powerful apps </span>
            </li>
          </ul>
          <h3 class="pricing-price text-[#016ff9]">$150</h3>
          <button mat-raised-button class="btn" color="primary">
            Free Trial
          </button>
        </div>
        <div class="text-center p-8">
          <img
            src="assets/images/icons/icon3.png"
            alt="Personal Plan Enterprise"
          />
          <h2 class="text-gray-400 pricing-header">Enterprise</h2>
          <ul>
            <li>Dedicated</li>
            <li>
              Simple Horizontal <span class="block mt-4">Scalability</span>
            </li>
          </ul>
          <h3 class="pricing-price text-[#016ff9]">$400</h3>
          <button mat-raised-button class="btn" color="primary">
            Free Trial
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
