<app-header />

<p class="w-[500px] m-auto">I/O: {{ dataTest }}</p>
<main>
  <ul id="users">
    <li *ngFor="let user of users">
      <app-user
        [user]="user"
        [isSelected]="user.userId === selectedUserId"
        (select)="onSelectUser(user.userId)"
      ></app-user>
    </li>
  </ul>
  <!-- if -->
  <app-task
    *ngIf="selectedUser; else taskFallback"
    [name]="selectedUser.name"
    [userId]="selectedUser.userId"
    (testOutput)="receivingData($event)"
    (testOutputTwo)="receivingDataTwo($event)"
    (testOutputThree)="receivingDataThree($event)"
    (outputInput)="receivingOutputInput($event)"
    [dataInputOne]="parentData"
    [dataInputTwo]="parentDataTwo"
    [dataInputThree]="parentDataThree"
    [inputOutput]="inputOutputData"
  />
  <!-- else: in app-task else taskFallback-->
  <ng-template #taskFallback>Select a user to see their tasks!</ng-template>
</main>
