<app-header />

<main>
  <ul id="users">
    <li *ngFor="let user of users">
      <app-user
        [user]="user"
        [isSelected]="user.userId === selectedUserId"
        (select)="onSelectUser(user.userId)"
      ></app-user>
    </li>
  </ul>
  <!-- if -->
  <app-task
    *ngIf="selectedUser; else taskFallback"
    [name]="selectedUser.name"
    [userId]="selectedUser.userId"
  />
  <!-- else: in app-task else taskFallback-->
  <ng-template #taskFallback>Select a user to see their tasks!</ng-template>
</main>
