<div class="w-[600px] m-auto mt-4">
  <div class="overflow-x-auto shadow-lg rounded-lg">
    <table class="w-full bg-white/10 backdrop-blur-sm">
      <thead>
        <tr class="bg-white/20 border-b border-gray-300/30">
          <th
            class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
          >
            Year
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
          >
            Investment Value
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
          >
            Interest (Year)
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
          >
            Total Interest
          </th>
          <!-- <th
            class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"
          >
            Invested Capital
          </th> -->
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-300/20">
        <tr
          *ngFor="let element of dataSource"
          class="hover:bg-white/5 transition-colors"
        >
          <td class="px-6 py-4 whitespace-nowrap text-sm text-white">
            {{ element.year }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-white">
            {{ element.totalValue }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-white">
            {{ element.totalInvested }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-white">
            {{ element.interestEarned }}
          </td>
          <!-- <td class="px-6 py-4 whitespace-nowrap text-sm text-white">
            {{ element.investedCapital }}
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
