<h1 class="font-bold pl-4 pt-4">CSS Bootcamp</h1>
<br />
<button mat-raised-button (click)="navigateToForm()">back</button>
<br />
<br />

<!-- ! Block and Span -->
<h1>block</h1>
<h1>block also</h1>
<span>span</span>
<span>span also</span>

<h2>1</h2>
<h2>2</h2>
<h2>3</h2>

<!-- ! Transitions -->
<div class="circle"></div>

<section>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</section>

<!-- ! Transform -->
<section>
  <h1 class="one-h1">Transform me!</h1>
  <h1 class="two-h1">Transform me!</h1>
  <h1 class="three-h1">Transform me!</h1>
  <h1 class="four-h1">Transform me!</h1>
  <h1 class="five-h1">Transform me!</h1>
</section>
<section>
  <h1 class="six-h1">Transform me!</h1>
  <h1 class="seven-h1">Transform me!</h1>
  <h1 class="eight-h1">Transform me!</h1>
  <h1 class="nine-h1">Transform me!</h1>
  <h1 class="ten-h1">Transform me!</h1>
</section>

<!-- ! Button -->
<button class="btn">Button</button>
